.table{
    position: absolute;
    
    /* height: ; */
    /* max-height:70%; */
    /* min-height: 30%; */
    width: 10%;
    background-color:royalblue;
    border:  1px solid greenyellow;
    border-radius: 0.1em;
    top:8em;
    opacity: 0.7;
    /* left:0.5em; */
    padding-left: 0em;
    border-spacing: 1em;
    
    /* z-index: -1; */
}
.table tr td{
    /* background-color: seashell;
     */
     color: lightcyan;
}
.table tr td:last-child{
    text-align: left;
    /* border:darkblue; */
    border-left:  1px dashed rgb(57, 107, 122);

}